<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-social">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="logo" style="margin-left: -27px;">
                    <h1 class="text-center">
                        <a href="index.html"><img src="assets/img/footer-removebg-preview-removebg-preview.png" width="300px" height="50px"></a>
                    </h1>
                </div>
            </div>

            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Login</a></li>
                        <li class="breadcrumb-item"><a href="#">SignUp</a></li>
                        <li class="breadcrumb-item">Are you a vendor?</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a routerLink="Home">Home</a></li>
                    <li><a routerLink="Vendors">Vendors</a></li>
                    <li><a href="deal.html">REAL WEDDING</a></li>
                    <li><a routerLink="Showcase">SHOWCASE</a></li>
                    <li><a routerLink="Profile">VIDEO</a></li>
                    <li><a href="contact.html">E-INVITE</a></li>
                    <li><a href="contact.html">BLOG</a></li>
                </ul>
                <!-- <ul class="nav navbar-right">
                <li class="text-right" style="margin: 10px;"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    Location
                   </button></li>
            </ul> -->
            </div>
        </div>
    </div>
</div>