<h1 class="text-center" style="margin: 50px;font-size: 50px;font-weight: bold;">Choose City</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:#f7742e;width: 800px;">
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="container">
                <img src="assets/img/New-Delhi-India-War-Memorial-arch-Sir.png" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Delhi</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-left: -7px;">
            <div class="container">
                <img src="assets/img/yoyosrk-wikicommons.png" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Mumbai</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-left: -9px;">
            <div class="container">
                <img src="assets/img/Glass-House-conservatory-building-Lalbagh-Botanical-Garden.png" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Banglore</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-left: -9px;">
            <div class="container">
                <img src="assets/img/private-tour-ahmedabad-city-sightseeing-day-tour-in-ahmedabad-216197.jpg" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Banglore</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container">
                <img src="assets/img/New-Delhi-India-War-Memorial-arch-Sir.png" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Delhi</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-left: -7px;">
            <div class="container">
                <img src="assets/img/yoyosrk-wikicommons.png" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Mumbai</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-left: -9px;">
            <div class="container">
                <img src="assets/img/Glass-House-conservatory-building-Lalbagh-Botanical-Garden.png" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Banglore</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="margin-left: -9px;">
            <div class="container">
                <img src="assets/img/private-tour-ahmedabad-city-sightseeing-day-tour-in-ahmedabad-216197.jpg" width="285" height="250">
                <div class="centered" style="width: 286px; background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
                    <h1 class="text-danger text-center">Banglore</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-right: 19px;margin-top: 50px;">
    <div class="row">
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Indore</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Dewas</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Reeva</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Sagar</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Bhopal</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Sehore</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Reeva</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Sagar</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Ujjain</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Sachi</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Patna</h4>
        </div>
        <div class="col-sm-3">
            <h4 style="color:#000;"><img src="assets/img/icons8-location-96.png">Khandwa</h4>
        </div>
    </div>
</div>